<a href="https://colab.research.google.com/github/BernasconiLorenzo06/Python/blob/main/bernasconi_Pandas_e_drive_spiegazione.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Pandas

Per caricare i dati da un file in un databframe con Pandas è necessario prima caricare nel proprio Drive i file che si intendono utilizzare.

Poi bisogna far sì che il notebook di COlab abbia accesso al Drive tramite il metodo mount() di drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

A questo punto basta utilizzare il metodo read_csv() (o altro a seconda del file) per leggere il file:

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/winemag-data-130k-v2 (1).csv', index_col=0)
df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

#prende gli ultimi 5

In [ ]:
df.tail()

In [ ]:
df["country"]

In [ ]:
#prende il primo elemento
df["country"][0]

In [ ]:
#si puo usare lo slicing
df["country"][5:9]

In [ ]:
#tutte le informazioni dell'indice zero
df.iloc[0]

In [ ]:
df.iloc[0:3]

In [ ]:
df.iloc[:,0]

In [ ]:
#iloc serve per trovare alcuni record dentro il dataFRame il primo slicinig(indica la colonna a sinistra),il secondo slicinig(indica la riga)
df.iloc[10:15,0:3]

In [ ]:
#controlla se nella colonna coutry è presente US
df.country == 'US'

In [ ]:
#prende tutte le informazioni dei vini in italia(i prmi 5 e gli ultimi  5)
df[df.country == 'Italy']

In [ ]:
df.loc[df.country == 'Italy']

In [ ]:
#i vini italinni che costano più di 200 euro
df[(df.country == 'Italy') & (df["price"] >= 200)]

In [ ]:
#prende i vini francesi e italiani
df[(df["country"] == 'Italy') | (df["country"] == "France")]

In [ ]:
#metodo più semplice, visualizza tutte le nazione che sono nella lista italy,frace,US
df[df.country.isin(['Italy', 'France',"US"])]

In [ ]:
#prende i record(righe) dove il valore "price" è presente
df[df.price.notnull()]

In [ ]:
#prende quelli dove il valore "price" è non è presente
df[df.price.isnull()]

In [ ]:
df["price"]

In [ ]:
#trovare il prezzo minimo
min(df["price"])

In [ ]:
#trovare il prezzo minimo e non considera i nan
df["price"].min()

In [ ]:
#trovare il prezzo massimo e non considera i nan
df["price"].max()

In [ ]:
#trovare le informazioni del vino che costa di più
df[df["price"] == df["price"].max()]

In [ ]:
#trovare il nome del vino che costa di più
df[df["price"] == df["price"].max()]["title"]

In [ ]:
#trovare il nome del vino che costa di più
df[df["price"] == df["price"].min()]["title"]

In [ ]:
#trovare il nome del vino che costa di più e il prezzo
df[df["price"] == df["price"].min()][["title","price"]]

In [ ]:
#somma di tutti i point di tutti i vini
df["points"].sum()

In [ ]:
#prezzo medio dei vini
df["price"].mean()

In [ ]:
#nomi della casa produttrice e del vino  che costano piu della media
df[df["price"]>df["price"].mean()][["winery","title"]]

In [ ]:
#il numero di vini americani
len(df[df['country'] == "US"])

54504

In [ ]:
#altro metodo
df[df['country'] == "US"]['country'].count()

54504

In [ ]:
#fa vedere il conteggio di tutte le colonne
df[df['country'] == "US"].count()

54504

In [ ]:
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [ ]:
pd.DataFrame({"bello":["lorenzo"],"merdoso":["darie"]})

     bello merdoso
0  lorenzo   darie

si vogliono memorizzarei voti di alcuni studenti in alcune materie.

lo studente neri ha perso 4 in info 5 in sistemi e 2 in tecnologie

lo studente bernasconi ha perso 6 in info 2 in sistemi e 8 in tecnologie

caricare i dati in un dataframe chiamato voti

In [ ]:
voti = pd.DataFrame({'Bernasconi': ['4', '5',"2"], 
              'Neri': ['6', '2',"8"]},
             index=['voto informatica', "voto sistemi",'voto tecnologie'])
print(voti)

                 Bernasconi Neri
voto informatica          4    6
voto sistemi              5    2
voto tecnologie           2    8

In [ ]:
#1. visualizzare i vini di cui si conosce il prezzo 2. i vini che iniziano per A 3. travare il nome del vino che costa di pi

In [ ]:
#1
df[df.price.notnull()]

In [ ]:
df[df["title"].str.startswith("A")]

In [ ]:
df[df['price'] == df["price"].max()]["title"]

80290    Château les Ormes Sorbet 2013  Médoc
Name: title, dtype: object