<a href="https://colab.research.google.com/github/BernasconiLorenzo06/Python/blob/main/esercitazione_verifica_liste.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#visualizzare numeri di una lista
lista = [1,2,3,4,5,6,7,8,9,10]
print(lista[5])

In [ ]:
#visualizzare stringhe di una lista
listaStringhe = ["ciao",["bello","cestino"],"salve"]
print(listaStringhe[1])

In [ ]:
#visualizzare elementi della lista mista
listaMista = [1,2,"ciao",[34.56,["casa"],568.98],"paolo"]
print(listaMista[3][1])

In [ ]:
#prendere numeri tra due numeri che vuoi e 
lista1 = [1,2,3,4,5,6,7,8,9,10]
print(lista1[1 : 7 ] )

In [ ]:
#prendere numeri a due a due
lista2 = [1,2,3,4,5,6,7,8,9,10]
print(lista1[1 : 7 : 2] )

In [ ]:
#slising numeri negativi con anche numeri a due a due
lista3 = [1,2,3,4,5,6,7,8,9,10]
print(lista1[-9: -3 : 2])

In [ ]:
#guardare lunghezza lista
lista4 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
len(lista4)

In [ ]:
#trovare numeri max
lista5 = [99,21,32,24,55,6,67,82,39,17]
massimo = max(lista5)
print(massimo)

In [ ]:
#trovare il minimo
lista5 = [99,21,32,24,55,6,67,82,39,17]
minimo = min(lista5)
print(minimo)

In [ ]:
#somma tra i numeri di una lista
lista5 = [99,21,32,24,55,6,67,82,39,17]
somma = sum(lista5)
print(somma)

In [ ]:
#concatenazione tra 2 liste
lista6 = [1,2,3]
lista7 = [7,8,9]
lista6 + lista7

In [ ]:
#trovare un elemento e dire se c'è on nella lista
lista8 = [1,2,"ciao",[34.56,["casa"],568.98],"paolo"]
"paolo" in lista8

In [ ]:
#trovare un elemento e dire se c'è on nella lista
lista8 = [1,2,"ciao",[34.56,["casa"],568.98],"paolo"]
"h" in lista8

In [ ]:
#trovare il max e min (alfabeto) nella lista
lista9 = ["b","c","d","h","ciao"]
print(max(lista9))
print(min(lista9))

h
b

In [ ]:
#visualizzare una parola lettera per lettera
lista10 = "ciao a tutti ragazzi come state"
print(lista10)
lista11 = list(lista10)
print(lista11)

ciao a tutti ragazzi come state
['c', 'i', 'a', 'o', ' ', 'a', ' ', 't', 'u', 't', 't', 'i', ' ', 'r', 'a', 'g', 'a', 'z', 'z', 'i', ' ', 'c', 'o', 'm', 'e', ' ', 's', 't', 'a', 't', 'e']

In [ ]:
#divide la stringa in più parole
lista10 = "ciao a tutti ragazzi come state"
print(lista10.split())

In [ ]:
#aggiungere un numero a una lista
lista12 = [1,2,3,4,5,6]
lista12.append(1)
print(lista12)

In [ ]:
#aggiungere più di un numero ad una lista
lista13 = [1,2,3,4,5,6]
lista13.extend([78,95,787])
print(lista13)

In [ ]:
#inserire un elemento in una lista decidendo la posizione
lista14 = [1,2,3,4,5,6]
lista14.insert(4,"sa")
print(lista14)

In [ ]:
#rimuovere un elemento di una lista
lista15 = [1,2,3,4,5,6,7,8,9]
lista15.remove(4)
print(lista15)

In [ ]:
#ribalta l'ordine della lista
lista16 = [1,2,3,4,5,6,7,8,9]
lista16.reverse()
print(lista16)

In [ ]:
#ordinare la lista
lista17 = [81,23,32,84,75,69,7,68,109]
lista17.sort()
print(lista17)

[7, 23, 32, 68, 69, 75, 81, 84, 109]

In [ ]:
#rimuovere tutti gli elemnti uguali di una lista
lista18 = [1,1,2,2,3,3,4,4,5,5,6,6,7,7,78,8,8,9,17,9,9,9]
valueToBeRemoved = 9

try:
    while True:
        lista18.remove(valueToBeRemoved)
except ValueError:
    pass
    print(lista18)

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 78, 8, 8]

In [ ]:
#rimuovere tutti gli elemnti uguali di una lista secondo modo
while 4 in lista18:
    lista18.remove(4)
print(lista18)

[1, 1, 2, 2, 3, 3, 5, 5, 6, 6, 7, 7, 78, 8, 8]

In [ ]:
#contare il umero di volte che compare il numero 9
lista18 = [1,1,2,2,3,3,4,4,5,5,6,6,7,7,78,8,8,9,9,17,9,9]
lista18.count(9)

In [ ]:
#cercare l'indice del numero 8
lista18.index(8)

13

In [ ]:
#inserire il valore zero prima numero 17, quindi trovare prima la posizione di 17
lista18.insert(lista18.index(2),8)
print(lista18)

In [ ]:
#prende l'ultimo elemento della lista
lista18.pop()

In [ ]:
#eliminare un elemento usando la posizione
del lista18[0]
print(lista18)

[1, 8, 2, 2, 3, 3, 5, 5, 6, 6, 7, 7, 78, 8]

In [ ]:
lista19 = [5,7,9,2]
lista20 = lista19
print(lista19)
print(lista20)
min(lista)
max(lista)

[5, 7, 9, 2]
[5, 7, 9, 2]