<a href="https://colab.research.google.com/github/BernasconiLorenzo06/Python/blob/main/Pandas_group_by.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_excel("https://raw.githubusercontent.com/wtitze/3E/main/Teams.xlsx")
df

              Name      Discipline                         NOC  Event
0          Belgium  3x3 Basketball                     Belgium    Men
1            China  3x3 Basketball  People's Republic of China    Men
2            China  3x3 Basketball  People's Republic of China  Women
3           France  3x3 Basketball                      France  Women
4            Italy  3x3 Basketball                       Italy  Women
..             ...             ...                         ...    ...
738   South Africa      Water Polo                South Africa  Women
739          Spain      Water Polo                       Spain    Men
740          Spain      Water Polo                       Spain  Women
741  United States      Water Polo    United States of America    Men
742  United States      Water Polo    United States of America  Women

[743 rows x 4 columns]

In [ ]:
df[df["Name"]== "Italy"]["Name"].count()

34

In [ ]:
df[df["Name"]== "Germany"]["Name"].count()

32

#**QUANTE SONO LE SQUADRE DI OGNI NAZIONE**

In [ ]:
df.groupby("NOC").count()[["Name"]]

**LE NAZIONI CHE HANNO PIU DI 10 Squadre**

In [ ]:
dfgroup = df.groupby("Name").count()[["NOC"]]

In [ ]:
dfgroup[dfgroup.NOC > 10]

**serve per per aggiungere l'indice standard**

In [ ]:
dfgroup = df.groupby("Name").count().reset_index()

#**ESERCIZI**

In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/wtitze/3E/main/2010.csv",sep = ";")
df

,Title,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes - Actor 2,Facebook Likes - Actor 3,Facebook Likes - cast Total,Facebook likes - Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,Unnamed: 25
0,127 Hours,2010.0,Adventure|Biography|Drama|Thriller,English,USA,R,94.0,"1,85",18000000.0,18329466.0,...,642.0,223.0,11984,63000,0.0,279179,440.0,450.0,"7,6",NaN
1,3 Backyards,2010.0,Drama,English,USA,R,88.0,NaN,300000.0,NaN,...,659.0,301.0,1884,92,0.0,554,23.0,20.0,"5,2",NaN
2,3,2010.0,Comedy|Drama|Romance,German,Germany,Unrated,119.0,"2,35",NaN,59774.0,...,20.0,9.0,69,2000,0.0,4212,18.0,76.0,"6,8",NaN
3,8: The Mormon Proposition,2010.0,Documentary,English,USA,R,80.0,"1,78",2500000.0,99851.0,...,12.0,5.0,210,0,0.0,1138,30.0,28.0,"7,1",NaN
4,A Turtle's Tale: Sammy's Adventures,2010.0,Adventure|Animation|Family,English,France,PG,88.0,"2,35",NaN,NaN,...,749.0,602.0,3874,0,2.0,5385,22.0,56.0,"6,1",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1599,War & Peace,NaN,Drama|History|Romance|War,English,UK,TV-14,NaN,16,NaN,NaN,...,888.0,502.0,4528,11000,1.0,9277,44.0,10.0,"8,2",NaN
1600,Wings,NaN,Comedy|Drama,English,USA,NaN,30.0,"1,33",NaN,NaN,...,511.0,424.0,1884,1000,5.0,7646,56.0,19.0,"7,3",NaN
1601,Wolf Creek,NaN,Drama|Horror|Thriller,English,Australia,NaN,NaN,2,NaN,NaN,...,457.0,206.0,1617,954,0.0,726,6.0,2.0,"7,1",NaN
1602,Wuthering Heights,NaN,Drama|Romance,English,UK,NaN,142.0,NaN,NaN,NaN,...,698.0,427.0,29196,0,2.0,6053,33.0,9.0,"7,7",NaN
1603,Yu-Gi-Oh! Duel Monsters,NaN,Action|Adventure|Animation|Family|Fantasy,Japanese,Japan,NaN,24.0,NaN,NaN,NaN,...,NaN,NaN,0,124,0.0,12417,51.0,6.0,7,NaN

In [ ]:
#1. il numero di film per ogni lingua. Ordinare in ordine decrescente sul numero di film
dfgroup1 = df.groupby("Language").count()[["Title"]]
dfgroup1.sort_values(by=["Title"],ascending = False)

In [ ]:
# seccondo metodo
df.groupby("Language").count()[["Title"]].sort_values(by=["Title"],ascending = False)

In [ ]:
# 2. il numero di film per ogni nazione.
df.groupby("Country").count()[["Title"]]

In [ ]:
#3. il budget totale che ogni nazione ha investito nei film. Ordinare in ordine decrescente base al budget totale
dfBudget = df.groupby("Country").sum()[["Budget"]].sort_values(by=["Budget"],ascending = False)
dfBudget

In [ ]:
#4 la nazione che ha investito il budget piÃ¹ alto
dfBudget[dfBudget["Budget"] == dfBudget["Budget"].max()]

In [ ]:
#5 il budget medio che ogni nazione ha investito nei film. Ordinare in ordine decrescente base al budget medio
df.groupby("Country")[["Budget"]].mean().sort_values(by=["Budget"],ascending = False)

In [ ]:
#6 le nazioni che hanno investito, in media, un budget piÃ¹ basso rispetto alla media complessiva dei budget delle nazioni
mediaPerNazione = df.groupby("Country")[["Budget"]].mean()
mediaPerNazione

In [3]:
mediaPerfilm = df["Budget"].mean()

In [ ]:
mediaPerNazione[mediaPerNazione["Budget"] < mediaPerfilm]

In [8]:
#7 il numero di film per ogni regista
dfRegista = df.groupby("Director").count()[["Title"]]

In [ ]:
#8 il regista che ha diretto piÃ¹ film
dfRegista[dfRegista["Title"] == dfRegista["Title"].max()]

In [ ]:
#9 . il numero di film per ogni genere
df.groupby("Genres").count()[["Title"]]